---
import ServicesCard from './ServicesCard.astro';
import { Debug } from 'astro:components';

// export interface Props {
//   title?: string;
//   items?: Array<{
//     src: string;
//     image: {
//       src: string;
//       alt: string;
//     };
//     title: string;
//   }>;
// }
const {
  title = await Astro.slots.render('title'),
  items=[]

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;

const { title = 'Default Title', items = [] } = Astro.props;
---

<div class="bg-gray-400 dark:bg-slate-700 p-12">
  <h2>{title}</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    {items.map((item, index) => <ServicesCard key={index} item={item} />)}
  </div>
</div>
