---
import ServicesCard from './ServicesCard.astro';
import { Debug } from 'astro:components';

export interface Props {
  title?: string;
  items?: Array<{
    src: string;
    image: {
      src: string;
      alt: string;
    };
    title: string;
  }>;
}

const { title = 'Design for what you need', items = [] } = Astro.props;
---

<div class="bg-[#F5F5F5] dark:bg-[#0e1603] p-12">
  <h2>{title}</h2>
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
    {items.map((item, index) => <ServicesCard key={index} item={item} />)}
  </div>
</div>
